<!-- partials/header.html -->
<header class="header">
    <div class="logo-container">
        <!-- Logo Dumai Idaman -->
        <div class="logo">
            <img src="../images/dumai_idaman.png" alt="Dumai Idaman Logo" class="logo-img">
        </div>
        
        <!-- Logo SiGap-Dumai -->
        <div class="logo">
            <img src="../images/sigap_dumai.png" alt="SiGap-Dumai Logo" class="logo-img">
        </div>

        <!-- Logo ASN (BPBD) -->
        <div class="logo">
            <img src="../images/asn.png" alt="ASN Logo" class="logo-img"> <!-- Ganti asn.png dengan logo ASN/BPBD jika ada -->
        </div>
    </div>
</header>
